@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.02em;
  background: white;
}

.global__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local__nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
